<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>CLIENT_ID</key>
	<string>692191116552-tv19lrho59db30lbgnbrk61voh8ddk6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692191116552-tv19lrho59db30lbgnbrk61voh8ddk6v</string>
	<key>API_KEY</key>
	<string>AIzaSyCn6C7ILVhfIg6T9KDz6BnU3VvxtFWKXkA</string>
	<key>GCM_SENDER_ID</key>
	<string>692191116552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter.stock-price-tracker</string>
	<key>PROJECT_ID</key>
	<string>stock-price-tracker-a2e8a</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-price-tracker-a2e8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:692191116552:ios:94fa2d8a78048d1d9400bd</string>
	<key>DATABASE_URL</key>
	<string>https://stock-price-tracker-a2e8a-default-rtdb.firebaseio.com</string>
</dict>
</plist>
