.title {
    color: navy;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

.choose {

    color: black;
    font-family: 'Courier New', monospace;
    text-align: center;
    margin: auto;
    font-weight:bold;
}

.options {
    color: white;
    border-style: solid;
    fill: gray;
    height: 10px;
    width: 200px;
    margin: auto;
    padding: 20px;

}

.submit-row{
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}
.submit{
  width: 80%;
  height: 30px;
}
ion-input {
    height: 30px;
    width: 100%;

    border-style: groove;
}
